<div>
  <div style="text-align:center;margin:1em;">
    <button class="btn btn-sm btn-default" style="display:inline-block;"
      ng-if="!theme"
      ng-click="openLinkedInModal()">
      <span class="glyphicon glyphicon-import" aria-hidden="true"></span>
      Import LinkedIn
    </button>
    <button class="btn btn-sm btn-default" style="display:inline-block;"
      ng-if="selectedTags.length > 0"
      ng-click="createTheme(selectedTags)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Create Counteroffer
    </button>
    <button class="btn btn-sm btn-default" style="display:inline-block;"
      ng-if="theme"
      ng-click="deleteSelectedTheme()">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      Delete Counteroffer
    </button>
    <button class="btn btn-sm btn-default" style="display:inline-block;"
      ng-if="theme && !campaign"
      ng-click="createCampaign()">
      <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
      Publish Counteroffer
    </button>
    <div style="display:inline-block;" ng-if="campaign">
      <a href="http://counteroffer.me/#!/{{campaign.url}}" target="_blank">Visit Counteroffer</a>
    </div>
  </div>

  <div style="text-align:center;margin:1em;" ng-if="theme && campaign">
    <ul class="nav nav-pills" style="display:inline-block;">
      <li ng-class="{active: isInMode('edit')}">
        <a ng-click="setMode('edit')" style="cursor:pointer;">Edit</a>
      </li>
      <li ng-class="{active: isInMode('jobs')}">
        <a ng-click="setMode('jobs')" style="cursor:pointer;">Jobs</a>
      </li>
    </ul>
  </div>

  <div ng-if="campaign && isInMode('jobs')">
    <div style="display:block;margin:auto;">
      <ul class="nav nav-pills" style="margin-bottom:10px;display:inline-block;">
        <li class="pill-title">Job Status:</li>
        <li ng-class="{active: !path}">
          <a ng-click="setPath('')" style="cursor:pointer;">Active</a>
        </li>
        <li ng-class="{active: path === 'archived'}">
          <a ng-click="setPath('archived')" style="cursor:pointer;">Archived</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-8" id="accordion" style="margin-top:15px;">
      <div ng-show="!jobs || jobs.length === 0">
        There are no jobs yet. Wait until you get an offer from a recruiter.
      </div>
      <div ng-show="jobs.length > 0">
        Sort by: <ul class="tag-list">
          <li class="tag-item" ng-click="sortByFactKey('')" style="cursor:pointer;color:black;">Latest Message</li>
          <li ng-repeat="(key, class) in factClasses track by $index" class="tag-item {{ class }}" ng-click="sortByFactKey(key)" style="cursor:pointer;">
            {{ key }}
          </li>
        </ul>
      </div>
      <div style="text-align:center;margin:10px;" ng-show="!path">
        <div>
          <form><input type="text" ng-model="newJob.email" placeholder="Recruiter email">
          <button class="btn btn-sm btn-default" type="submit" ng-click="addJob(newJob)">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Job
          </button></form>
        </div>
      </div>
    </div>
    <div ng-repeat="job in jobs | filter: getJobFilter(path === 'archived') | orderBy: sortJobs() : true track by $index" ng-show="!busy" class="panel panel-default">
      <!-- <job data="job" -->
    </div>
  </div>

  <div ng-if="!theme || isInMode('edit')">

    <div style="max-height:300px;overflow-y:scroll;border:1px black solid;border-radius:5px;">
      <histogram
        tag-counts="tagCounts"
        set-filter="setFilter(func)"
        get-experiences="getExperiences()"
        selected-tags="selectedTags"
        themes="portfolioObj.themes"
        ></histogram>
    </div>

    <div style="text-align:center;margin:1em">
      <ul class="nav nav-pills" style="display:inline-block;">
        <li ng-class="{active: !surveyVisible()}">
          <a ng-click="hideSurvey()" style="cursor:pointer;">Experiences</a>
        </li>
        <li ng-class="{active: surveyVisible()}">
          <a ng-click="showSurvey()" style="cursor:pointer;">Contact</a>
        </li>
      </ul>
    </div>

    <div style="display:inline-block;box-sizing:border-box;" ng-hide="surveyVisible()">
      <div style="margin-top:10px;">
        <button class="btn btn-sm btn-default" ng-click="createExperience()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add Experience
        </button>
      </div>
      <experience ng-repeat="exp in portfolioObj.experiences | filter:expFilter | orderBy : parseDate : true"
        data="exp"
        refresh-callback="refreshExperiences({exp: exp})">
      </experience>
    </div>

    <survey ng-if="surveyVisible() && portfolioObj"
      theme="getSelectedTheme()"
      questions="getQuestions()"
      tag-counts="tagCounts">
    </survey>

    <script type="text/ng-template" id="tag-template">
      <div class="tag-template tag label label-info">
        <span>{{$getDisplayText()}}</span>
        <a class="remove-button" ng-click="$removeTag()">x</a>
      </div>
    </script>
  </div>

  <div style="position:fixed;right:50px;bottom:0;">
    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{ alert.msg }}</div>
  </div>
</div>
