<div>
  <div class="panel-heading" id="heading{{data.id}}" data-toggle="collapse" data-target="#collapse{{data.id}}" aria-expanded="false" aria-controls="collapse{{data.id}}" style="cursor:pointer;" ng-click="toggleJob(data)">
    <p>Job #{{ data.id }} from {{ data.email }}
      <a href="#" editable-text="data.company" onaftersave="updateJob(data)">({{ data.company || 'Company name' }})</a>
    </p>
    <!-- <p>Latest message: {{ displayDate(data) }}</p> -->
    <ul class="tag-list">
      <li class="tag-item" ng-repeat="fact in data.facts track by $index" ng-class="getFactClass(fact.key)">{{ fact.value }}</li>
    </ul>
  </div>

  <div id="collapse{{data.id}}" class="collapse" aria-labelledby="heading{{data.id}}" data-parent="#accordion" style="position:relative;">
    <div ng-show="gettingMessages">
      <img src="../loading.gif" />
    </div>
    <div style="position:absolute;top:0;right:0;border:1px #ddd solid;background-color:white;width:300px;">
      <table class="table" ng-show="selectedJob.facts.length > 0" style="text-align:left;">
        <thead>
          <tr>
            <th colspan="3" style="text-align: center;">
              <a ng-click="toggleFacts()" style="cursor:pointer;"><span class="glyphicon" ng-class="{ 'glyphicon-chevron-down': factsCollapsed, 'glyphicon-chevron-up': !factsCollapsed }"></span></a>
            </th>
          </tr>
        </thead>
        <tbody ng-show="!factsCollapsed">
          <tr ng-repeat="fact in selectedJob.facts | orderBy: 'id'" ng-hide="gettingFacts">
            <td><a href="#" editable-text="fact.key" onaftersave="updateFact(selectedJob, fact)">
              <strong>{{ fact.key }}</strong>
            </a></td>
            <td><a href="#" editable-text="fact.value" onaftersave="updateFact(selectedJob, fact)">
              {{ fact.value }}
            </a></td>
            <td>
              <button class="btn btn-sm btn-default panel" ng-click="deleteFact(selectedJob, fact)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="!selectedJob.facts || selectedJob.facts.length === 0">
        <p>Select text from the job messages to add facts to your scratch pad</p>
      </div>
      <div style="margin-top:15px;text-align:center;" ng-show="selectedJob">
        <button class="btn btn-sm btn-default" ng-click="addFactFromSelection(selectedJob)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Add Selected Text
        </button>
      </div>
      <div style="margin-top:15px;text-align:center;margin-bottom:15px;" ng-show="selectedJob">
        <button class="btn btn-sm btn-default" ng-click="addFact(selectedJob)">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Manually Add New Fact
        </button>
      </div>
    </div>
    <div class="panel-body" ng-hide="gettingMessages">
      <ul class="list-unstyled" style="clear:both;">
        <li ng-repeat="question in data.survey | orderBy: 'datetime'" ng-style="getMessageStyle(data, question.sender)">
          <strong>{{ question.text }}</strong> <span class="message" ng-bind-html="getHTML(question.value || '(No reply)')"></span>
        </li>
      </ul>
      <ul class="list-unstyled" style="clear:both;">
        <li ng-repeat="message in data.messages | orderBy: 'datetime'" ng-style="getMessageStyle(data, message.sender)">
          <span class="message" ng-bind-html="getHTML(message.value || '(No reply)')"></span>
        </li>
      </ul>
      <div style="height:100px;margin:10px;" ng-show="!data.archived">
        <form style="height:100%">
          <textarea ng-model="newMessage.value" style="width:calc(100% - 80px);height:100%;"></textarea>
          <div style="float:right;width:80px;">
            <button class="btn btn-sm btn-default" ng-click="sendMessage(newMessage, data)" style="margin:10px;">
              <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
              Reply
            </button>
            <button class="btn btn-sm btn-default panel" ng-click="archiveJob(data, true, newMessage)" style="margin:10px;">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
              Archive
            </button>
          </div>
        </form>
      </div>
      <div style="clear:both;" ng-show="data.archived">
        <button class="btn btn-sm btn-default panel" ng-click="archiveJob(data, false)">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          Unarchive
        </button>
        <button class="btn btn-sm btn-default panel" ng-click="deleteJob(data)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          Delete Job
        </button>
      </div>
    </div>
  </div>
</div>
