body {
  margin: 50px;
  color: #333;
}

@media only screen and (max-width: 720px) {
  ul.nav.nav-pills>li {
    float:none;
  }
}

tags-input .tags .tag-item {
  padding: 0 !important;
  float: none !important;
  font: inherit !important;
  height: auto !important;
  border: 0 !important;
  background: none !important;
  cursor: pointer;
}

.tagBar {
	background-color: #337ab7;
}

.tagBar.danger {
	background-color: #d9534f;
}

.label-info {
  background-color: #337ab7;
}

.editable-textarea {
	width: 100%;
}

.editable-textarea .editable-controls {
	width: 100%;
}

.pill-title {
  padding: 10px 15px;
  font-weight: bold;
}

table#facts tbody th {
  width: 20%;
}

table#facts textarea {
  width: 80%;
}

survey .question.panel-primary .panel-heading a {
  color: white;
  border-bottom-color: white;
}

survey .question.panel-success .panel-heading a {
  color: #333;
  border-bottom-color: #333;
}

survey .question.panel-danger .panel-heading a {
  color: #333;
  border-bottom-color: #333;
}

body {
  margin: 50px;
  color: #333;
}

.pill-title {
  padding: 10px 15px;
  font-weight: bold;
}

.message {
  padding: 3px;
  border-radius: 5px;
}
.message.candidate {
  background-color: #add8e6;
}
.message.recruiter {
  background-color: #eee;
}

.tag-list {
  border: 1px dark gray;
  cursor: text;
  padding: 1px;
}

.tag-item {
  margin: 2px;
  padding: 0 5px;
  display: inline-block;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 26px;
  line-height: 25px;
  border-radius: 3px;
/*   background-color: #337ab7; */
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #scratchPad {
    display: none !important;
  }
}
