<div class="panel panel-default">
  <div class="panel-heading">Contact Bob</div>
  <div class="panel-body">
    
    <p>To talk with Bob about job opportunities, please fill out the following details below. </p>
    
    <div ng-show="!savedEmail">
      <p><strong>Progress:</strong></p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" ng-style="{width: progress()+'%'}">
          <span class="sr-only">{{ progress() }}% Complete</span>
        </div>
      </div>
    </div>
    
    <div ng-show="state === 'busy'">
      <img src="loading.gif" />
    </div>
    <div ng-show="state === 'error'" class="panel-danger">
      Sorry, there was an error submitting this survey. Please notify Bob.
    </div>
    <div ng-show="state === 'ok'">
      <div class="panel question" ng-class="getPanelClass(emailQuestion)">
        <div class="panel-heading">Your email address: *</div>
        <div class="panel-body">
          <span ng-show="!savedEmail">
            <input type="text" ng-model="emailQuestion.value">
            <label>
              <input type="checkbox" ng-model="emailQuestion.rememberMe" ng-show="!savedEmail">
              Remember me
            </label>
            -- OR: 
            <button class="btn btn-sm btn-default" ng-click="getJobs(emailQuestion)" ng-disabled="!emailQuestion.value">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              Get Existing Jobs
            </button>
          </span>
          <span ng-show="savedEmail">{{ savedEmail }}</span>
        </div>
      </div>
      <ul class="nav nav-pills" style="display:inline-block;">
        <li ng-repeat="job in jobs track by $index" ng-class="{active: jobIsSelected(job)}">
          <a ng-click="loadJobURL(job)" style="cursor:pointer;">Job #{{ job.id }}</a>
        </li>
      </ul>
      <button class="btn btn-sm btn-default panel" ng-click="addJob()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Job
      </button>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div style="float:right;clear:both;margin-top:-5px;" ng-show="jobs.length > 1">
            <button class="btn btn-sm btn-default panel" ng-click="deleteJob()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Delete Job
            </button>
          </div>
          Job #{{$index+1}}
        </div>
        <div class="panel-body">
          <div class="panel question" ng-repeat="message in currentJob.messages" ng-class="getPanelClass(message)">
            <div class="panel-heading">
              {{ message.text || message.sender }} {{ message.required ? '*' : '' }}
            </div>
            <div class="panel-body">
              <div ng-if="message.type === 'text'">
                <span ng-show="savedEmail && currentJob.id" ng-bind-html="createLinks(message.value || '(No value)')"></span>
                <input type="text" ng-model="message.value" ng-show="!savedEmail || !currentJob.id">
              </div>
              <div ng-if="message.type === 'skills'">
                <span ng-show="savedEmail && currentJob.id">{{ message.value }}</span>
                <div ng-repeat="tag in currentJob.tags track by $index" ng-show="!savedEmail || !currentJob.id">
                  <label>
                    <input type="checkbox" ng-model="tag.selected" ng-change="selectTag(message, tag)">
                    {{ tag.name }}
                  </label>
                </div>
              </div>
              <div ng-if="message.type === 'textarea'">
                <span ng-show="savedEmail && currentJob.id" ng-bind-html="createLinks(message.value || '(No value)')"></span>
                <textarea style="width:500px;height:200px;" ng-model="message.value" ng-show="!savedEmail || !currentJob.id"></textarea>
              </div>
            </div>
          </div>
          <div class="panel question panel-primary" ng-show="savedEmail && currentJob.id">
            <div class="panel-heading">
              Respond:
            </div>
            <div class="panel-body">
              <form>
                <input type="text" ng-model="newMessage.value">
                <button class="btn btn-sm btn-default" type="submit" ng-click="sendMessage(newMessage, currentJob)">Send</button>
              </form>
            </div>
          </div>
    </div>
      </div>
    </div>
    
    <div>
      <button class="btn btn-sm btn-default" ng-click="submit({data: data})" ng-show="currentJob && !currentJob.id" ng-disabled="progress() !== 100">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        Submit
      </button>
    </div>
  </div>
</div>